global:
  storageClass: standard-rwo

clickhouse:
  enabled: false
externalClickhouse:
  host: <clickhouse-endpoint>
  httpPort: 8123
  tcpPort: 9000
  cluster: cluster
  secure: false
  user: <ch-user>
  password: <ch-password>
