collector:
  mode: daemonset
  logsReceivers: [filelog]
  metricsReceivers: []
  tracesReceivers: []
  configEnvs:
    CLICKHOUSE_ENDPOINT: "${clickhouse_endpoint}"
    CLICKHOUSE_USER: clickhouse
    CLICKHOUSE_DB: clickhouse
  secretConfigEnvs:
    CLICKHOUSE_PASSWORD: Secret123
  mountLogs: true
