collector:
  mode: deployment
  logsReceivers: [k8sobjects]
  metricsReceivers: [k8s_cluster]
  tracesReceivers: []
  envs:
    CLICKHOUSE_ENDPOINT: "${clickhouse_endpoint}"
    CLICKHOUSE_USER: clickhouse
    CLICKHOUSE_DB: clickhouse
  secretEnvs:
    CLICKHOUSE_PASSWORD: Secret123
