collector:
  mode: daemonset
  logsReceivers: []
  metricsReceivers: [kubeletstats]
  tracesReceivers: []
  envs:
    CLICKHOUSE_ENDPOINT: "clickhouse"
    CLICKHOUSE_USERNAME: "clickhouse"
  secretEnvs:
    CLICKHOUSE_PASSWORD: "Secret123"
