collector:
  mode: deployment
  logsReceivers: [otlp]
  metricsReceivers: [otlp]
  tracesReceivers: [otlp]
  envs:
    CLICKHOUSE_ENDPOINT: "clickhouse"
    CLICKHOUSE_USERNAME: "clickhouse"
  secretEnvs:
    CLICKHOUSE_PASSWORD: "Secret123"
