collector:
  mode: deployment
  logsReceivers: [otlp]
  metricsReceivers: [otlp]
  tracesReceivers: [otlp]
  envs:
    CLICKHOUSE_ENDPOINT: "${clickhouse_endpoint}"
    CLICKHOUSE_USER: clickhouse
    CLICKHOUSE_DB: clickhouse
  secretEnvs:
    CLICKHOUSE_PASSWORD: Secret123
