collector:
  mode: statefulset
  logsReceivers: []
  metricsReceivers: [prometheus]
  tracesReceivers: []
  envs:
    CLICKHOUSE_ENDPOINT: "clickhouse"
    CLICKHOUSE_USERNAME: "clickhouse"
  secretEnvs:
    CLICKHOUSE_PASSWORD: "Secret123"

targetAllocator:
  enabled: true
